

.header-img {
    object-fit: contain;
    background-image: url(../img/jairph-title.jpg);
    margin: 0 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;

}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

/* .header-item {
    width: 30%;
    margin: 10px;
} */