nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.nav-icon-and-heading{
    display: flex;
    margin: 0 10px;
}

ul 
    {
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margins */
      }
