body, html {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(40, 31, 31);
}

div h2 {
    margin: 50px auto;
    font-size: 2rem;
}

section {
    min-height: fit-content; 
    margin: auto ;
    text-align: center;
    margin-bottom: 50px;
}

/* flex containers and items */
.navbar-nav {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    gap: 20px 20px;
    padding-top: 30px;
}

.flex-item {
    margin: 0 5px;
}

ul.nav.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

/*buttons and images*/
.primary-button {
    margin: 30px;
}

.header-img {
    object-fit: contain;
    background-image: url("./img/jairph-title.jpg");
    background-position: center;
    background-size: cover;
    height: 40vh;
}


@media screen and (min-width: 961px) {
    .carousel-box, .weather-img {
       width: 70vw;
       justify-content: center;
    }
  }
 
  @media screen and (min-width: 768px) {
    .carousel-item {
      flex: 0 0 50%;
      margin: auto;
    }
  }

